*{
	margin: 0;
	font-size: 15px;
	font-family: var(--font1);
	font-weight: 500;
	scroll-behavior: smooth;
}

body{
	background: var(--lightyellow1);
	overflow-x: hidden;
}

.fullscreen{
	overflow-y: hidden;
}

.form-container{
	position: absolute;
	width: 100vw;
	height: 0;
	background-color: var(--darkoverlay);
	z-index: 20;
	transition: height 1.5s, opacity 3s;
	display: flex;
	align-items: center;
	opacity: 0;
}
.form{
	width: 50%;
	height: 80%;
	background-color: var(--lightgreen1);
	border-radius: 20px;
	margin: auto;
	box-shadow: 0,0, 25px var(--black1);
	position: relative;
	display: flex;
	opacity: 0;
	align-items: center;
	transform: scale(0);
	transition: opacity 1s, transform 1s;
}
.display{
	opacity: 1;
	transform: scale(1);
}

.item-form{
	width: 90%;
	height: 87%;
	margin: auto;
	border-radius: 20px;
	border: 3px dashed var(--black1);
	justify-content: center;
	position: relative;

}
.item-form h1{
	width: 100%;
	display: inline-block;
	text-align: center;
	font-size: 3em;
}

.item-form hr{
	display: block;
	margin: auto;
	margin-top: 10px;
	width: 95%;
}

.item-form h6{
	margin: auto;
	text-align: left;
	width: 90%;
	font-size: 2.5em;
}

.item-form input, .item-form textarea{
	margin: auto;
	display: block;
	text-align: left;
	font-size: 2em;
	width: 90%;
	border-color: black;
	outline: none;

}
.item-form input{
	border: none;
	border-bottom: 2px solid black;
}
.item-form textarea{
	border-width: 2px;
	width: 90%;
	height: 30%;
	resize: none;
}
.item-form input:focus, .item-form textarea:focus{
	border-color: var(--blue1)

}

.item-form p{
	text-align: right;
	margin: auto;
	width: 90%;
	font-size: 1.5em;
}
.item-form img{
	width: 150px;
	position: absolute;
	bottom: 20px;
	left: 30px;
	transition: opacity 1s;
}
.closebtn{
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	cursor: pointer;
	z-index: 30;
}

.closebtn img{
	width: 40px;
}

.form-btns{
	width: 100%;
	display: block;
	margin: auto;
	position: absolute;
	bottom: 0;
}

.form-btns button{
	width: 100px;
	height: 50px;
	font-size: 1.5em;
	float: right;
	margin: 20px;
	margin-left: 0;
	margin-right: 40px;
	background-color: var(--black1);
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: none;
	transition: transform 0.5s, box-shadow 0.5s;
}

.form-btns button:hover{
	transform: scale(1.07);
	box-shadow: 0 5px 10px  var(--darkoverlay);
}

.show{
	height: 100vh;
	opacity: 1;
}

.box-container{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	min-height: 80vh;
	justify-content: center;
}
.adding{
	position: fixed;
	bottom: 20px;
	right: 20px;
	box-sizing: border-box;
	display: inline-block;
	z-index: 10;
	width: 75px;
	height: 75px;
}


#addbtn{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 75px;
	height: 75px;
	background-color: var(--black1);
	border-radius: 50%;
	border: none;
	transform: scale(1);
	transition: transform 0.5s;
	cursor: pointer;
	user-select: none;

}

#addbtn img{
	width: 50px;
	margin: auto;

}

#addbtn:hover{
	transform: scale(1.2); 
	transform: rotate(-45deg);
	box-shadow: 0 0 20px var(--lightgreen1);
}

button:focus{
	border: none;
	outline: none;
}

.pos-left{
	left: 20px;
}

.bot-left{
	left: 0;
}

.list-container{

	width: 95%;
	margin: auto;
	background-color: red;
	display: inline-block;

}

.list-item{
	width: 25%;
	position: relative;
	float: left;
	margin: 1px auto;
	min-width: 300px;
	height: 270px;
	background-color: blue;
	
}


.item-box{
	user-select: none;
	width: 100%;
	background-color: var(--lightgreen1);
	border-radius: 20px;
	padding: 15px;
	margin: auto;
	max-width: 1000px;
	max-height: 300px;
	overflow-y: hidden;
	box-shadow: 0 10px 25px var(--black1);

	/*animation: appear 2s ease-out 0s 1 normal;*/
}
.item-header{
	display: inline-block;	
	width: 100%;
	position: relative;
}

.item-header h1{
	font-size: 2.5em;
	width: 80%;
	float: left;
}

.item-header .icon{
	width: 20%;
	height: 30px;
	display: inline-block;
	float: left;
	position: relative;
}
.item-header .icon img{
	width: 30px;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}
.item-header .icon button{
	position: absolute;
	right: 0;
	width: 30px;
	height: 100%;
	cursor: pointer;
	background: none;
	border: none;
}

.item-header .icon button:hover{
	transform: scale(1.15);
}
.item-content{
	max-height: 130px;
	min-height: 70px;
}

.item-content p{
	font-size: 1.5em;
	text-align: justify;
}

hr{
	border-top: 3px solid var(--black1);
	margin: 10px 0;
}

footer {
	margin-top: 50px;
	z-index: 2;
	bottom: 0;
	height: 200px;
	width: 100%;
	background: var(--lightgreen1);
	box-shadow: 0 -30px 100px var(--lightgreen1);
}

.footer-content{
	width: 80%;
	height: 100%;
	margin: auto;
	justify-content: center;
	position: relative;
}

.footer-content .section{
	width: 33%;
	height: 100%;
	float: left;

}

.footer-content .section hr{
	border-top-width: 0px;
}
.footer-content .section h3{
	font-size: 2em;
	text-align: center;
}

.footer-content .section a{
	font-size: 1.5em;
	color: black;
	text-decoration: none;
	float: left;
}
.footer-content .section img{
	width: 40px;

}

.footer-icon{
	width: 33.3%;
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

/* responsives */

@media screen and (min-width: 700px){
	*{
		font-size: 15px;
	}

	.closebtn{
		top: 10px;
		right: 10px;
	}
	.list-item{
		width: 100%;
	}
	.item.box{
		max-width: 700px;
	}
	.form{
		width: 95%;
	}
	.item-form img{
		opacity: 0;
	}
}
@media screen and (min-width: 700px) and (min-height: 600px){
	.closebtn img{
		width: 100px;
	}
	.item-form textarea{
		height: 70%;
	}
}
@media screen and (min-width: 1000px) and (min-height: 700px){
	*{
		font-size: 13px;
	}
	.list-item{
		width: 50%;
	}
	.item.box{
		max-width: 600px;
	}
	.form{
		width: 85%;
	}
	.item-form img{
		opacity: 1;
		width: 100px;
	}
}
@media screen and (min-width: 1200px) and (min-height: 800px){
	*{
		font-size: 12px;
	}
	.list-item{
		width: 33.3%;
	}
	.item.box{
		max-width: 500px;
	}
	.form{
		width: 75%;
	}
	.item-form img{
		width: 150px;
	}
}
@media screen and (min-width: 1400px) and (min-height: 1000px){
	*{
		font-size: 11px;
	}
	.list-item{
		width: 25%;
	}
	.item.box{
		max-width: 450px;
	}
	.form{
		width: 65%;
	}
	.item-form img{
		width: 170px;
	}
}
@media screen and (min-width: 1600px) and (min-height: 1200px){
	*{
		font-size: 11px;
	}
	.list-item{
		width: 25%;
	}
	.form{
		width: 50%;
	}
	.item-form img{
		width: 200px;
	}
}


